
@import url('https://fonts.cdnfonts.com/css/lulo-clean');

body {
    
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

#banner {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;  
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 700px;
    margin: 50px auto;
    gap: 20px;            
}

#imgBanner {
    width: 35%;
    height: 250px;
    background-color: #000000;
    color: white;
    text-align: right;
    padding: 5px 0;
    display: block;
    margin-right: auto; 
}

#txt {
    display: flex;
    flex: 1;
    color: rgb(255, 255, 255); 
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    align-items: center; 
    font-family: 'Lulo Clean', sans-serif;
   
}
a {
    text-decoration: none;
}
@media (max-width: 768px) {
    #banner {
        flex-direction: column; 
        text-align: center;
    }

    #imgBanner {
        margin-bottom: 20px; 
    }
}
.login{
font-family: 'Lulo Clean', sans-serif;
color: #000000;
padding: 140px;
text-align: center;
text-decoration: none;

}
.voltar{
    font-family: 'Lulo Clean', sans-serif;
    color: #000000;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin: 0 auto;
    align-items:normal;
    font-size: 2em;
    display:flex;
    justify-content: center;
    }